/* App.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.characterStats {
    height: 150px;
    background-color: rgb(105, 84, 64);
    padding: 10px;
}

.gameArena {
    flex: 1;
    background-color: rgb(185, 162, 133);
    padding: 10px;
}
.map-content {
    height: 96%;
    width: 96%;
    padding: 2%;
    border: 1px solid #3d3d3d
}
.map1 {
    background-color: rgb(74, 90, 74);
}
.map2 {
    background-color: rgb(64, 73, 82);
}
.map3 {
    background-color: #816a6a;
}